<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<body>

  <h1>Congratulations! You just made a reservation with Thaimeditationcenter.com !</h1>

  <p>
    You can see details of your new reservation here:
    <%= link_to "Booking Profile", user_bookings_url %>
  </p>

</body>
</html>