<div id="tools">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="styled-select-filters">
        <select name="sort_type" id="sort_type">
          <option value="" selected>Sort by type</option>
          <option value="tours">Tours</option>
          <option value="hotels">Hotels</option>
          <option value="transfers">Transfers</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="styled-select-filters">
        <select name="sort_date" id="sort_date">
          <option value="" selected>Sort by date</option>
          <option value="oldest">Oldest</option>
          <option value="recent">Recent</option>
        </select>
      </div>
    </div>
  </div>
</div><!--/tools -->

<div class="strip_booking">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="date">
        <span class="month">Dec</span>
        <span class="day"><strong>23</strong>Sat</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-5">
      <h3 class="hotel_booking">Hotel Mariott Paris<span>2 Adults / 2 Nights</span></h3>
    </div>
    <div class="col-md-2 col-sm-3">
      <ul class="info_booking">
        <li><strong>Booking id</strong> 23442</li>
        <li><strong>Booked on</strong> Sat. 23 Dec. 2015</li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="booking_buttons">
        <a href="#0" class="btn_2">Edit</a>
        <a href="#0" class="btn_3">Cancel</a>
      </div>
    </div>
  </div><!-- End row -->
</div><!-- End strip booking -->

<div class="strip_booking">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="date">
        <span class="month">Dec</span>
        <span class="day"><strong>27</strong>Fri</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-5">
      <h3 class="tours_booking">Louvre Museum<span>2 Adults / 2 Childs</span></h3>
    </div>
    <div class="col-md-2 col-sm-3">
      <ul class="info_booking">
        <li><strong>Booking id</strong> 23442</li>
        <li><strong>Booked on</strong> Sat. 20 Dec. 2015</li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="booking_buttons">
        <a href="#0" class="btn_2">Edit</a>
        <a href="#0" class="btn_3">Cancel</a>
      </div>
    </div>
  </div><!-- End row -->
</div><!-- End strip booking -->