<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="hotel_container">
      <div class="img_container">
        <a href="single_hotel.html">
          <img src="img/hotel_1.jpg" width="800" height="533" class="img-responsive" alt="">
          <div class="ribbon top_rated">
          </div>
          <div class="score">
            <span>7.5</span>Good
          </div>
          <div class="short_info hotel">
            From/Per night<span class="price"><sup>$</sup>59</span>
          </div>
        </a>
      </div>
      <div class="hotel_title">
        <h3><strong>Park Hyatt</strong> Hotel</h3>
        <div class="rating">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
        </div><!-- end rating -->
        <div class="wishlist_close_admin">
          -
        </div>
      </div>
    </div><!-- End box tour -->
  </div><!-- End col-md-6 -->

  <div class="col-md-4 col-sm-6 ">
    <div class="hotel_container">
      <div class="img_container">
        <a href="single_hotel.html">
          <img src="img/hotel_2.jpg" width="800" height="533" class="img-responsive" alt="">
          <div class="ribbon top_rated">
          </div>
          <div class="score">
            <span>9.0</span>Superb
          </div>
          <div class="short_info hotel">
            From/Per night<span class="price"><sup>$</sup>45</span>
          </div>
        </a>
      </div>
      <div class="hotel_title">
        <h3><strong>Mariott</strong> Hotel</h3>
        <div class="rating">
          <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
        </div><!-- end rating -->
        <div class="wishlist_close_admin">
          -
        </div>
      </div>
    </div><!-- End box -->
  </div><!-- End col-md-6 -->
</div>