.banner-container {
  min-height: 520px;
}
.jumbotron {
  background-color: transparent;
}
.index-banner-container {
  background: url('banner01.jpg') no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 140px;

  h1,p {
    text-align: center;
    color: #fff;
  }
}
.main-menu > ul > li > a {
  font-size: 18px;
  font-weight: bold;
}
.main-menu {
  > ul {
    float: right;
  }
}
.btn-outline-inverse {
  color: #ffffff;
  border: 1px solid #fff;
  font-weight: bold;
  &:hover {
    background-color: #ffffff;
  }
}
.search-box-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(0,0,0,0.8);
}
.jumbotron {
  margin-bottom: 0;
}
#searchbar-container {
  text-align: center;
}
.searchbar {
  display: inline-block;
  input,
  select {
    display: block;
    height: 44px;
    padding: 8px 10px;
    border-radius: 3px;
    border: 0;
  }
  .search-place-box-input {
    width: 380px;
  }
  > form > div {
    float: left;
  }
}
.search-label-box {
  input {
    display: inline-block;
  }
}
.search-submit-box {
  margin-left: 10px;
  .btn {
    font-weight: bold;
    font-size: 16px;
  }
}
.landing-details-container {

}

.light-grey-bg{
  background-color: #f9f9f9;
}
.main-how-to-container {
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }
}
.main-how-to-image-box {
  img {
    display: block;
    margin: 0 auto;
  }
}
.short_info {
  background: url('shadow_tour.png') repeat-x left bottom;
}
.ribbon.top_rated {
  background: url('ribbon_top_rated.png') no-repeat 0 0;
}

.ribbon.popular {
  background: url('ribbon_popular.png') no-repeat 0 0;
}
.img_container {
  height: 240px;
}
.tour_container {
  height: 310px;
  overflow: hidden;
}
#price_single_main span {
  color: #fff;
}
.sign-in-link {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 8px 15px 8px;
  display: block;
  line-height: 20px;
}
#sign-up-bt-nav {
  display: inline-block;
}
#hero.login {
  background: url("sign_up_banner.jpg") no-repeat center center;
  background-size: cover;
}

.sticky {
  .sign-in-link {
    color: #000;
  }
}