.activity_banner_section {
  min-height: 420px;
  background: url("shutterstock_96393731.jpg") no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.review_strip_single h4 {
  margin-left: 0;
}
.review_strip_single {
  margin-top: 0;
  margin-bottom: 0;
}
.total-price-detail-row {
  color: #e04f67;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}